<div class="wrapper">
    <div class="board-wrapper">
        <div class="board">
            <div class="header d-flex">
                <div class="position">Position</div>
                <div class="user-name">User Name</div>
                <div class="total-score">Score</div>
            </div>
            <div class="scrollable" infinite-scroll (scrolled)="onScroll()">
                <div class="user d-flex" *ngFor="let user of users; let i = index">
                    <div class="position position-item">#{{ i + 1 }}</div>
                    <div class="user-name">{{user.userName}}</div>
                    <div class="total-score">{{user.totalScore}}</div>
                </div>
            </div>
        </div>
    </div>
</div>
<a pageScroll [pageScrollDuration]="1000" (pageScrollFinish)="afterScroll()" href="#top-scroll-page" *ngIf="showArrowButton">
    <div class="scroll-top d-flex justify-content-center align-items-center">
        <fa-icon [icon]="'arrow-up-long'" [size]="'lg'" class="scroll-top-icon"></fa-icon>
    </div>
</a>
