<div class="wrapper">
    <div class="board-wrapper">
        <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" (change)="toggleMyFriends()" role="switch"
                id="flexSwitchCheckChecked">
            <label class="form-check-label" for="flexSwitchCheckChecked">My friends</label>
        </div>
        <div class="board">
            <div class="header d-flex">
                <div class="position">Position</div>
                <div class="user-name">User Name</div>
                <div class="total-score">Score</div>
                <div class="add-friend"></div>
                <div class="start-fight"></div>
            </div>
            <div class="scrollable" infinite-scroll (scrolled)="onScroll()">
                <div class="user d-flex" *ngFor="let user of users; let i = index">
                    <div class="position position-item">#{{ i + 1 }}</div>
                    <div class="user-name d-flex gap-1 align-items-center">
                        <img
                            class="user-name-avatar"
                            [src]="this.user?.imagePath ?? AssetConstants.defaultProfileImagePath"
                            alt="user-avatar" />
                        <p>{{ user.userName }}</p>
                    </div>
                    <div class="total-score">{{ user.totalScore }}</div>
                    <div class="add-friend d-flex">
                        <button (click)="addFriend(user)" class="user-icon-btn user-plus-btn"
                            *ngIf="isAddFriendButtonVisible(user)">
                            <fa-icon class="user-icon user-plus-icon" [icon]="['fas', 'user-plus']"></fa-icon>
                        </button>
                        <div *ngIf="isFriendshipStatus(user, 'Pending')" class="dot-flashing">
                        </div>
                        <button class="user-icon-btn" *ngIf="isFriendshipStatus(user, 'Accepted')">
                            <fa-icon class="user-icon" [icon]="['fas', 'user-group']"></fa-icon>
                        </button>
                    </div>
                    <div class="start-fight text-start">
                        <div *ngIf="user.id !== this.currentUser.id">
                            <button [ngClass]="{ 'cursor-none': !isCurrentUserAbleToCodeFight() }"
                                *ngIf="user.codeFightStatus === CodeFightStatus.NotInBattle"
                                (click)="startCodeFight(user)">
                                <fa-icon [icon]="'user-ninja'"></fa-icon>
                                <span class="start-fight-text">Start Battle</span>
                            </button>
                            <button *ngIf="user.codeFightStatus === CodeFightStatus.HasRequest" class="has-request">
                                <fa-icon [icon]="'cross'"></fa-icon>
                                <span class="start-fight-text">Has request</span>
                            </button>
                            <button *ngIf="user.codeFightStatus === CodeFightStatus.InBattle" class="in-battle">
                                <fa-icon [icon]="'rocket'"></fa-icon>
                                <span class="start-fight-text">In battle!</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-arrow-up [onScrollEvent]="scrollEventSubject.asObservable()"></app-arrow-up>