@import 'color-variables'
@import 'screen-sizes-variables'

.wrapper
    margin-top: 30px
    display: flex
    justify-content: center
    align-items: start
    height: 100%

.board
    width: 100%

.board-wrapper
    display: flex
    background-color: $midnight-gray
    flex-direction: column
    margin: 0 auto
    padding: 25px
    border-radius: 15px
    width: 40%
    min-width: 600px
    @media (max-width: $small-medium)
        min-width: 95%
    @media (max-width: $small)
        padding: 15px

.header
    gap: 16px
    border-bottom: 2px solid $green
    font-size: 38px
    div
        padding-bottom: 11px
        padding-top: 11px
        color: $light-blue-grey
        font-family: Inter
        font-size: 17px
        line-height: 21px

.position
    min-width: 100px
    &.position-item
        padding-left: 15px
    @media (max-width: $small)
        min-width: 70px

.user
    gap: 16px
    color: $white
    & > div
        font-family: Inter
        font-size: 12px
        line-height: 21px
        padding-top: 11px
        padding-bottom: 11px

.user-name
    width: 50%
    @media ( max-width: $small-challenge)
      width: 40%
    @media ( max-width: $mobile)
      width: calc(87% - 132px)

.total-score
    width: 13%
    min-width: 50px
    text-align: center
    @media (max-width: $mobile)
        text-align: start

.start-fight
    width: calc(37% - 100px)
    text-align: center
    &-text
        padding-left: 4px
    @media (max-width: $small-challenge)
      width: calc(47% -  100px)
    @media (max-width: $mobile)
      width: 32px
      &-text
        display: none

.user:nth-child(even)
  background-color: $transparent-yellow

.has-request,
.in-battle,
.cursor-none
  cursor: default

.has-request
  color: $green

.in-battle
  color: $light-red
