@import 'color-variables'

.wrapper
    margin-top: 30px
    display: flex
    justify-content: center
    align-items: center
    height: 100%

.board
    width: 100%

.board-wrapper
    display: flex
    background-color: $midnight-gray
    margin: auto
    padding: 35px
    border-radius: 15px
    width: 40%
    min-width: 600px
    
.header
    gap: 16px
    border-bottom: 2px solid $green
    font-size: 38px
    div
        padding-bottom: 11px
        padding-top: 11px
        color: $light-blue-grey
        font-family: Inter
        font-size: 17px
        line-height: 21px
 
.position
    min-width: 100px
    &.position-item
        padding-left: 15px
.user
    gap: 16px
    color: $white
    div
        font-family: Inter
        font-size: 12px
        line-height: 21px
        padding-top: 11px
        padding-bottom: 11px

.user-name
    width: 75%
    
.total-score
    width: 15%
    min-width: 50px
    
.user:nth-child(even) 
  background-color: $transparent-yellow
