<div class="wrapper">
    <div class="board-wrapper">
        <div class="board">
            <div class="header d-flex">
                <div class="position">Position</div>
                <div class="user-name">User Name</div>
                <div class="total-score">Score</div>
                <div class="add-friend"></div>
            </div>
            <div class="scrollable" infinite-scroll (scrolled)="onScroll()">
                <div class="user d-flex" *ngFor="let user of users; let i = index">
                    <div class="position position-item">#{{ i + 1 }}</div>
                    <div class="user-name">{{user.userName}}</div>
                    <div class="total-score">{{user.totalScore}}</div>
                    <div class="add-friend">
                        <button (click)="addFriend()" class="user-plus-icon-btn">
                            <fa-icon class="user-plus-icon" [icon]="['fas', 'user-plus']"></fa-icon>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>