<div class="filtering-section d-flex mt-3">
    <div class="filters d-flex flex-column">
        <div class="search-container m-0-12px">
            <app-custom-input
                [Identifier]="'search'"
                [Width]="'100%'"
                [Height]="'100%'"
                [InputPlaceholder]="'Search'"></app-custom-input>
            <fa-icon [icon]="'search'" size="lg" class="search-filter-icon"></fa-icon>
        </div>
        <app-dropdown-select
            [isMultiSelection]="false"
            [title]="'By language'"
            [items]="languagesList"
            class="m-0-12px"></app-dropdown-select>
        <app-dropdown-select
            [isMultiSelection]="false"
            [title]="'By status'"
            [items]="statusesList"
            class="m-0-12px"></app-dropdown-select>
        <app-dropdown-select
            [isMultiSelection]="false"
            [title]="'By progress'"
            [items]="progressesList"
            class="m-0-12px"></app-dropdown-select>
        <app-dropdown-select
            [isMultiSelection]="false"
            [title]="'By tags'"
            [items]="tagsList"
            class="m-0-12px mb-28px"></app-dropdown-select>
    </div>
    <div class="challenges d-grid justify-content-center gap-2">
        <div *ngFor="let challenge of challengesList">
            <app-challenge [challenge]="challenge"></app-challenge>
        </div>
    </div>
</div>
