@import 'src/styles/color-variables'

.not-found-container
   display: flex
   flex-direction: column
   align-items: center
   justify-content: center
   height: 100vh
   background-color: $black
   color: $white

.error-message
  font-size: 4rem
  margin-top: 20px

.description
  font-size: 1.5rem
  text-align: center
  max-width: 500px
  margin-top: 10px

.btn
  display: inline-block
  padding: 10px 20px
  font-size: 1.2rem
  background-color: $dark-grey
  color: $white
  border: none
  border-radius: 5px
  margin-top: 20px
  text-decoration: none
  transition: background-color 0.3s ease

.btn:hover
  background-color: $light-grey

.animated-eyes
  display: block
  position: relative
  width: 200px
  animation: shvr 3s infinite linear

.animated-eyes .eye
  position: relative
  display: inline-block
  background: $white
  width: 75px
  height: 80px
  border-radius: 50% 50% 50% 50% / 45px 45px 45% 45%
  transform: rotate(45deg)
  animation: shvr 0.2s infinite
  margin: 10% auto 0

.animated-eyes .eye::after
  content: ''
  position: absolute
  border-bottom: 2px solid $white
  width: 70px
  height: 50px
  left: 0
  bottom: -10px
  border-radius: 50%

.animated-eyes .eye::before
  bottom: auto
  top: -100px
  transform: rotate(45deg)
  left: 0

.animated-eyes .eye:nth-of-type(2)
  float: right
  transform: rotate(-45deg)

.animated-eyes .eye:nth-of-type(2)::after
  left: 5px

.animated-eyes .eye:nth-of-type(3)
  display: none

.animated-eyes .eye .pupil
  position: absolute
  background-color: $black
  width: 20px
  height: 20px
  border-radius: 50%
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)
  transition: transform 0.2s ease
  animation: eye 3s infinite linear

@keyframes eye
  0%, 30%, 55%, 90%, 100%
    transform: translate(0, 0)
  10%, 25%
    transform: translate(0, 20px)
  65%
    transform: translate(-20px, 0)
  80%
    transform: translate(15px, 0)

@keyframes shvr
  0%
    transform: translateX(1px)
  50%
    transform: translateX(0)
  100%
    transform: translateX(-1px)


