<div class="register-page-wrp">
    <div class="logo-container">
        <div class="logo-icon"></div>
        <div class="logo-text">Logo</div>
    </div>
    <div class="register-page-container">
        <form [formGroup]="registrationForm" class="register-page-form">
            <button class="link-profile-button">+ Link Your GitHub Account</button>
            <app-custom-input [InputType]="'email'" [Identifier]="'email'" [Width]="'100%'" [InputLabel]="'Email'"
                [InputPlaceholder]="'Enter your email'"
                (InputValueChange)="registrationForm.controls['email'].setValue($event)">
            </app-custom-input>
            <app-custom-input [Identifier]="'username'" [Width]="'100%'" [InputLabel]="'Username'"
                [InputPlaceholder]="'Enter your username'"
                (InputValueChange)="registrationForm.controls['username'].setValue($event)">
            </app-custom-input>
            <app-custom-input [InputType]="'password'" [Identifier]="'password'" [Width]="'100%'"
                [InputLabel]="'Password'" [InputPlaceholder]="'&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;'"
                (InputValueChange)="registrationForm.controls['password'].setValue($event)">
            </app-custom-input>

            <p class="privacy-policy-text">
                By creating an account, you agree to our
                <a>Privacy Policy</a>
            </p>

            <button type="submit" class="form-button" [disabled]="!registrationForm.valid" (click)="signUp()">
                Enlist
            </button>
            <div class="have-account">
                Already registered?
                <a class="sign-in-link" routerLink="/auth/login">Sign in</a>
            </div>
        </form>
    </div>
    <div class="footer"></div>
</div>