.register-page-wrp 
    background-color: var(--color-extra-dark)
    display: grid
    grid-template-rows: 1fr 3fr
    justify-items: center
    align-items: center
    height: 100vh
    font-family: 'Open Sans', sans-serif

.logo-container 
    align-self: center
    display: flex
    align-items: center
    gap: 15px
    padding: 10px 0

.logo-icon 
    border-radius: 50%
    width: 82px
    height: 82px
    background-color: var(--color-success)

.logo-text 
    color: white
    text-transform: uppercase
    font-family: 'Montserrat', sans-serif
    font-size: 42px
    line-height: normal

.register-page-container 
    align-self: start
    height: 75%
    width: 75%
    max-width: 1078px
    border-radius: 15px
    background-color: #222327

.register-page-content 

