<div class="register-page-wrp">
    <div class="logo-container">
        <div class="logo-icon"></div>
        <div class="logo-text">Logo</div>
    </div>
    <div class="register-page-container">
        <form #registrationForm="ngForm" class="register-page-form">
            <button class="link-profile-button">+ Link Your GitHub Account</button>

            <div class="form-input-container">
                <label for="email" class="form-label">Email:</label>
                <input type="email" id="email" name="email" class="form-input" required placeholder="Enter your Email">
            </div>
            <div class="form-input-container">
                <label for="username" class="form-label">Username:</label>
                <input type="text" id="username" name="username" class="form-input" required
                    placeholder="Enter your username">
            </div>
            <div class="form-input-container">
                <label for="password" class="form-label">Password:</label>
                <div class="password-input-container">
                    <input type="password" id="password" name="password" class="form-input form-input-password" required
                        placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;">
                    <button class="hide-password">
                        <fa-icon [icon]="faEyeSlash"></fa-icon>
                    </button>
                </div>
            </div>

            <p class="privacy-policy-text">
                By creating an account, you agree to our
                <a>Privacy Policy</a>
            </p>

            <button type="submit" class="form-button" [disabled]="!registrationForm.form.valid">Enlist</button>
        </form>
    </div>
</div>