<div class="badges-container">
    <div>
        <div class="d-flex align-items-start justify-content-between">
            <div>
                <div class="text-label-1">Badges</div>
                <div class="text-label-2">{{ items.length }}</div>
            </div>
            <fa-icon [icon]="'arrow-right'" size="xl"></fa-icon>
        </div>

        <div class="carousel-container">
            <owl-carousel-o [options]="customOptions" (translated)="onTranslated($event)">
                <ng-template carouselSlide *ngFor="let item of items; let i = index" [id]="item.badge.src">
                    <div class="badge" [ngClass]="{ 'active-badge': item.isActive }">
                        <img
                            alt="Apr LeetCoding Challenge"
                            [src]="item.isActive ? replaceFileExtension(item.badge.src, '.gif') : item.badge.src" />
                    </div>
                </ng-template>
            </owl-carousel-o>
        </div>
        <div class="text-label-1">Most Recent Badge</div>
        <div>{{ items[startPosition].badge.name }}</div>
    </div>
</div>
