@import 'color-variables'

.buttons
    justify-content: flex-end
    padding-right: 1rem

.step-container
    color: $white-grey
    padding: 0 20px 20px

.language-info
    display: inline-flex
    font-size: 14px
    line-height: 21px
    padding: 2px 9px 2px 4px
    gap: 10px
    border-radius: 4px
    background-color: $elegant-grey
    cursor: default

.custom-button
    font-weight: 600
    padding: 10px 15px
    border-radius: 4px
    transition: all 0.1s ease-in-out
    user-select: none
    &:active
        transform: scale(98%)
    &.accent
        color: $white
        background-color: $green
        border: 1px solid $green
        &:hover
            color: $lavender-ash
            background-color: $dark-olive-green
            border: 1px solid $dark-olive-green
    &:disabled
        color: $lavender-ash
        background-color: $dark-olive-green
        border: 1px solid $dark-olive-green
        pointer-events: none

.cancel-btn
    color: $white-grey
    border: 1px solid $border-grey
    &:hover
        color: $black
        background-color: $lavender-ash
        border: 1px solid $lavender-ash
