@import 'color-variables'

.step-container
    color: $white-grey
    padding: 20px

.language-info
    display: inline-flex
    font-size: 14px
    line-height: 21px
    padding: 2px 9px 2px 4px
    gap: 10px
    border-radius: 4px
    background-color: $elegant-grey
    cursor: default
