@import 'color-variables'
@import 'screen-sizes-variables'

.creation-wrapper
    margin: 40px 130px
    background-color: $deep-dark-grey
    border-radius: 32px
    min-height: 100%

.buttons
    justify-content: flex-end
    padding-right: 1rem

.step-container
    color: $white-grey
    padding: 0 20px 20px

.language-info
    display: inline-flex
    font-size: 14px
    line-height: 21px
    padding: 2px 9px 2px 4px
    gap: 10px
    border-radius: 4px
    background-color: $elegant-grey
    cursor: default

.custom-button
    font-weight: 600
    padding: 10px 15px
    border-radius: 4px
    transition: all 0.1s ease-in-out
    user-select: none
    display: flex
    align-items: center
    justify-content: center
    &:active
        transform: scale(98%)
    &:hover
        background-color: $transient-grey
    &.accent
        color: $white
        background-color: $green
        border: 1px solid $green
        text-shadow: $dark-grey 1px 1px 1px
        &:hover
            color: $lavender-ash
            background-color: $dark-olive-green
            border: 1px solid $dark-olive-green
    &.delete
        color: $white
        background-color: $maroon
        border: 1px solid $maroon
        text-shadow: $dark-grey 1px 1px 1px
        &:hover
            color: $lavender-ash
            background-color: $dark-maroon
            border: 1px solid $dark-maroon
    &:disabled
        color: $lavender-ash
        background-color: $dark-olive-green
        border: 1px solid $dark-olive-green
        pointer-events: none

.empty-container
    height: 20px

@media (max-width: $small-challenge)
  .buttons
    flex-direction: column
    align-items: center
    padding-right: 0 !important
    & .custom-button
        width: 50%

  .creation-wrapper
        margin: auto

  .language-block
    display: flex
    flex-direction: column
    align-items: center
    gap: 12px
    &-dropdown
      justify-content: center
      width: 100%
      & app-challenges-dropdown-select
        width: 80%

.cancel-btn
    color: $white-grey
    border: 1px solid $border-grey
    &:hover
        color: $black
        background-color: $lavender-ash
        border: 1px solid $lavender-ash

::ng-deep .delete-modal
    .modal-content
        background-color: $charcoal-grey
    .modal-header
        color: $green
        .btn-close
            background-color: $green
    .modal-body, .modal-footer button
        color: $white
    
        
