@import 'color-variables'
@import 'screen-sizes-variables'

.page-wrapper
    color: $white

.submit-button
    padding: 5px
    background-color: $green
    border-radius: 10px
    font-weight: 800

.form-wrapper
    max-width: 970px
    margin: 0 auto

.form-data
    display: flex
    flex-direction: column
    justify-content: space-between

.form-item
    width: 50%
    height: 50px
    @media screen and (max-width: $medium)
        width: 75%
    @media screen and (max-width: $small)
        width: 100%

.user-preferences-form
    background-color: $charcoal-grey
    border-radius: 38px
    padding: 26px 36px 26px 29px

.label-input-group
    display: flex
    align-items: center
    margin-top: 20px
    height: 50px

.input-wrapper


.label-input-group label
    width: 30%
    display: flex
    margin-right: 8px
    color: $white
    min-width: 80px
    @media screen and (max-width: $small)
        width: 20%

app-dropdown-select
    width: 70%