@import 'color-variables'

.page-wrapper
    color: $white
    height: calc(100% - 87px)
    padding: 65px 10px 0px 10px


.form-wrapper
    max-width: 970px
    margin: 0 auto

.form-data
    margin: 0 auto
    display: flex
    flex-direction: row
    justify-content: space-between

.user-preferences-form
    background-color: $charcoal-grey
    border-radius: 38px
    padding: 26px 36px 26px 29px


.label-input-group
    display: flex
    align-items: center
    margin-top: 10px


.label-input-group label
    margin-right: 15px
    text-align: right
    color: $white
    min-width: 120px
    overflow: wrap

app-dropdown-select
    min-width: 50%
    max-width: 50%
