<div class="page-wrapper d-flex justify-content-center">
    <div class="form-wrapper d-flex flex-column flex-grow-1">
        <div class="d-flex align-items-center justify-content-between">
            <fa-icon [icon]="'arrow-left'" size="2x" (click)="onReturnToProfile()"></fa-icon>
            <button [disabled]="userInfoForm.invalid"
                class="submit-button d-flex justify-content-center align-items-center align-self-end"
                (click)="onSave()">
                Save
            </button>
        </div>
        <form class="edit-user-info-form edit-section d-flex flex-column" [formGroup]="userInfoForm">
            <p>INFORMATION</p>
            <div class="form-data d-flex justify-content-center align-items-center flex-grow-1">
                <div class="user-avatar-container">
                    <label class="h-100">
                        <img [src]="avatarPreview" />
                        <div class="edit-photo">
                            <fa-icon [icon]="'camera'" size="2xl"></fa-icon>
                            <span>Edit</span>
                        </div>
                        <input type="file" style="display: none" (change)="onImagePicked($event)" />
                    </label>
                </div>
                <div class="d-flex flex-column justify-content-between right-form-data flex-grow-1">
                    <app-custom-input [InputType]="'email'" [Identifier]="'email'" [Width]="'100%'"
                        [InputLabel]="'Email'" [InputPlaceholder]="'Enter your email'" [disabled]="true"
                        formControlName="email" [InputValue]="userInfoForm.value.email"
                        (InputValueChange)="userInfoForm.controls['email'].setValue($event)">
                    </app-custom-input>
                    <div class="invalid-feedback d-block"
                        *ngIf="userInfoForm.controls['email'].touched && userInfoForm.get('email')?.invalid">
                        <div>{{ getErrorMessage('email') }}</div>
                    </div>

                    <app-custom-input [InputType]="'text'" [Identifier]="'text'" [Width]="'100%'"
                        [InputLabel]="'Username'" [InputPlaceholder]="'Enter your username'"
                        [InputValue]="userInfoForm.value.username" formControlName="username"
                        (InputValueChange)="userInfoForm.controls['username'].setValue($event)">
                    </app-custom-input>
                    <div class="invalid-feedback d-block"
                        *ngIf="userInfoForm.controls['username'].touched && userInfoForm.get('username')?.invalid">
                        <div>{{ getErrorMessage('username') }}</div>
                    </div>
                </div>
            </div>
        </form>
        <div class="edit-section d-flex flex-column">
            <p>ACCOUNTS</p>
            <div class="accounts-container">
                <p class="github-button" *ngIf="isGithubLinked">
                    <fa-icon [icon]="['fab', 'github']"></fa-icon>
                    GitHub is linked
                </p>
                <a class="github-button" *ngIf="!isGithubLinked" (click)="linkGithub()">
                    <fa-icon [icon]="['fab', 'github']"></fa-icon>
                    Link GitHub Account
                </a>
            </div>
        </div>
        <div>
            <app-user-preferences></app-user-preferences>
        </div>
    </div>
</div>


