@import 'src/styles/color-variables'
@import 'src/styles/fonts'

.header
  display: flex
  justify-content: space-between
  align-items: center
  background-color: $deep-dark-grey
  color: white
  padding: 0.3rem 0.3rem 0 0.3rem
  border-radius: 8px
  margin-bottom: 0.5rem

.logo img
  width: 70px
  cursor: pointer
  padding-left: 20px

.user-menu
    display: flex

.notification
  margin-right: 2rem
  cursor: pointer
  color:$transparent-grey

:host ::ng-deep .change-color
  background-color: $cornflower

.user
  position: relative
  align-items: center
  cursor: pointer
  padding-right: 1rem

.user-logo
  width: 50px
  height: 50px
  border-radius: 50%
  margin-right: 0.5rem

.username
  color: $transparent-grey
  width: 100%
  font-family: "Open Sans", sans-serif
  font-size: 0.9rem

.menu-wraper
  position: relative

.menu
    z-index: 99
    position: absolute
    right: 0.2rem
    top: 40px
    padding: .8rem
    background-color: $white
    border-radius: 8px
    display: grid
    justify-content: flex-start
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5)

:host ::ng-deep tabset ul
    border-bottom: none
    color: $white

:host ::ng-deep tabset li
    padding: 0
    color: $white

:host ::ng-deep tabset li.nav-item.active a.nav-link.active
  color: $olive-green
  border-bottom: 2px solid $olive-green

:host ::ng-deep tabset li.nav-item a
    display: inline-block
    font-size: 13px
    line-height: 40px
    color: $white
    cursor: pointer
    border: none
    padding: 13px 13px
    transition: background-color 0.2s ease
    user-select: none
    &:hover
        background-color: transparent !important
        color: $olive-green
    &:focus
      color: $olive-green
      border-bottom: 2px solid $olive-green
        
  
:host ::ng-deep tabset li a.active
    background-color: transparent !important
    color: $olive-green 
       