<div class="page-wraper h-100">
    <div class="header-logo">
        <img src="/assets/images/logo/logo.png" />
    </div>
    <h1 class="header">Change password</h1>
    <form class="resetPasswordForm" [formGroup]="resetPasswordForm">
        <div class="mb-2 form-group">
            <app-custom-input
                [InputType]="'password'"
                [Identifier]="'password'"
                [Width]="'100%'"
                [InputLabel]="'Password'"
                [InputPlaceholder]="'&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;'"
                formControlName="password"
                (InputValueChange)="resetPasswordForm.controls['password'].setValue($event)">
            </app-custom-input>
            <div
                class="invalid-feedback d-block"
                *ngIf="resetPasswordForm.controls['password'].touched && resetPasswordForm.get('password')?.invalid">
                <div>{{ getErrorMessage('password') }}</div>
            </div>
        </div>
        <div class="mb-2 form-group">
            <app-custom-input
                [InputType]="'password'"
                [Identifier]="'password'"
                [Width]="'100%'"
                [InputLabel]="'Confirm password'"
                [InputPlaceholder]="'&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;'"
                formControlName="confirmPassword"
                (InputValueChange)="resetPasswordForm.controls['confirmPassword'].setValue($event)">
            </app-custom-input>
            <div
                *ngIf="
                    resetPasswordForm.controls['confirmPassword'].touched &&
                    resetPasswordForm.hasError('passwordMismatch')
                "
                class="invalid-feedback d-block">
                Password confirmation doesn't match the password
            </div>
        </div>
        <button class="submit-reset" [disabled]="!resetPasswordForm.valid" (click)="changePassword()">
            Change password
        </button>
    </form>
</div>
