<div class="main-wrapper">
    <div class="content_wrp" *ngIf="fullUser">
        <div class="user_profile">
            <app-profile-page-main-info [user]="fullUser" [userSolutions]="userSolutions"></app-profile-page-main-info>
        </div>
        <div class="solved" *ngIf="bars?.length">
            <app-solved-problem [bars]="bars"></app-solved-problem>
        </div>
        <div class="badges">
            <app-badge [badges]="fullUser.badges"></app-badge>
        </div>
        <div class="submission_chart">
            <app-submissions-chart [solutions]="fullUser.solutions" class="custom-chart"></app-submissions-chart>
        </div>
        <div class="submissions" id="background-color"></div>
    </div>
</div>
