@import 'color-variables'

.main-wrapper
    margin-top: 30px
    display: flex
    justify-content: center
    align-items: center

.content-wrapper,
.main-info,
.solved-and-badges
    gap: 16px

.custom-chart
    padding-top: 15px
    height: 100%

.solved
    min-width: 400px

.badges
    background-color: $deep-dark-grey
    padding: 0
    border-radius: 8px
