<div class='content_wrp'>
    <div class="user_profile">
        <app-profile-page-main-info></app-profile-page-main-info>
    </div>
    <div class="solved">
        <app-solved-problem></app-solved-problem>
    </div>
    <div class="badges">
        <app-solved-problem></app-solved-problem>
    </div>
    <div class="submission_chart">
        <app-submissions-chart></app-submissions-chart>
    </div>
    <div class="submissions">
        <img src=".\assets\images\submissions.png" alt="submissions">
    </div>
</div>