@import 'challenge-creation-code-editor'
@import 'color-variables'
@import 'tab'

.label
  background-color: transparent
  width: 105px
  height: 25px
  border-radius: 4px
  display: flex
  align-items: center
  gap: 9px
  padding: 2px 9px 2px 4px

.label fa-icon
    font-size: 12px
    color: white

.label-text
  font-family: Lato
  width: 69px
  font-size: 14px
  font-weight: 400
  line-height: 21px
  color: $gray-smoke

.drop-down-container
    display: flex
    gap: 15px
    margin-top: 8px
    padding-bottom: 5px

.tabs-container
    display: flex

.editor
    margin-top: 10px

.tab-help
  width: 46px
  font-size: 13px
  line-height: 40px
  padding: 0px 22.09px 0px 22.39px
  display: flex
  justify-content: center
  align-items: center
  gap: 5px
  margin-left: 20px
  color: $transient-grey

.tab-help fa-icon
  font-size: 12px
  color: $transient-grey
