<div class="solution-container">
    <div class="tabs-container">
        <tabset class="tabset">
            <tab *ngFor="let tab of tabs" [heading]="tab.type.toString()" [active]="tab.active"
                (selectTab)="switchTab(tab)" [disabled]="tab.disabled" [customClass]="getTabClass(tab)">
            </tab>
        </tabset>
        <div class="tab-help">
            <fa-icon [icon]="'question-circle'" ngbTooltip="Help message" placement="top"></fa-icon>
            <div class="tab-text">Help</div>
        </div>
    </div>
    <div class="editor">
        <app-code-editor
            [language]="editorLanguage"
            [initSolution]="editorContent"
            (focusout)=editorFocusOut()
            (codeChanged)="onCodeChange($event)"></app-code-editor>

    </div>
</div>
