<div class="wrapper-container">
    <div class="main-container">
        <p>Solved Problems</p>
        <div class="statistics">
            <div class="circle">
                <app-pie-chart
                    [currentNumber]="totalTasksCompleted"
                    [totalNumber]="totalTasks"
                    [activeColor]="pieChartActiveColor">
                </app-pie-chart>
            </div>
            <div class="levels">
                <div class="level-card" *ngFor="let bar of bars">
                    <div class="level-card">
                        <app-progress-bar [total]="bar.Total" [solved]="bar.Done" [level]="bar.Label">
                        </app-progress-bar>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
