@import 'src/styles/color-variables'

.container
  height: 186px
  width: 410px

.main-container
  height: 186px
  width: 410px
  background-color: $deep-dark-grey
  padding-top: 16px
  padding-left: 13px
  border-radius: 8px
  font-family: Inter

.main-container p
  font-weight: 500
  width: 89px
  height: 16px
  font-size: 11px
  margin: 0
  color: $light-blue-grey

.statistics
  height: 140px
  width: 346px
  margin-left: 18px
  display: flex
  background-color: transparent

.circle
  width: 100px
  height: 100px
  margin-top: 32px
  position: relative
  align-items: center
  
.levels
  display: flex
  flex-direction: column
  width: 214px
  margin-left: 32px

.level-card
  width: 214px
  height: 36px
  
  &:not(:first-child)
    height: 52px
    padding-top: 16px
 
:host ::ng-deep .level-card:nth-child(1) .progress-bar 
    background-color: $emerald-green
    width: 100%


:host ::ng-deep .level-card:nth-child(2) .progress-bar 
    background-color: $amber-orange
    width: 100%


:host ::ng-deep .level-card:nth-child(3) .progress-bar 
    background-color: $crimson-red
    width: 100%


:host ::ng-deep .progress 
    background-color: transparent
