$black: #000
$white: #fff
$eerie-black: #1D1E21
$rich-black:#121415
$cornflower: #705FF5
$green: #61AD00
$grey: #777777
$light-copper: #F5A75F
$dark-grey: #121415
$light-grey: #1D1E21
$link-color: #705FF5
$dark-green: #325602
$medium-grey: #222327
$semi-transparent-light-gray: rgba(136, 136, 136, 0.2)
$light-lavender-gray: #BDBCBF
