$black: #000
$white: #fff
$eerie-black: #1D1E21
$cornflower: #705FF5
$green: #61AD00
$dark-olive-green: #427302
$grey: #777777
$transparent-grey: #91919380
$light-copper: #F5A75F
$dark-grey: #121415
$medium-grey: #222327
$light-grey: #1D1E21
$dark-green: #325602
$border-grey: #919193
$link-color: #705FF5
$semi-transparent-light-gray: rgba(136, 136, 136, 0.2)
$light-lavender-gray: #BDBCBF
$gold: #F5A75F