$black: #000
$strong-black: #131414
$ultra-transparent-black: rgba(0, 0, 0, 0.08)
$white: #fff
$very-pale-blue: #D4D6FF
$ultra-transparent-white: rgba(255, 255, 255, 0.05)
$transparent-white: rgba(255, 255, 255, 0.13)
$purple: #8826ff
$cornflower: #705FF5
$transparent-cornflower: #705FF590
$ultra-transparent-cornflower: rgba(152, 128, 255, 0.2)
$vivid-blue: #0A84FF
$sky-blue: #64D2FF
$vibrant-teal: #00B8A3
$warm-orange: #FFA116
$light-red: #ff2b28
$vibrant-red: #EF4743
$brigth-yellow: #FFC01E
$fresh-green: #2CBB5D
$green: #61AD00
$dark-olive-green: #427302
$dark-green: #325602
$light-copper: #F5A75F
$grey: #777777
$white-grey: #EFEFEF
$transparent-grey: #91919380
$light-grey: #AAA
$transient-grey: #C0C0C0
$satured-grey: #888
$dim-grey: #222
$dark-grey: #121415
$charcoal-grey: #222327
$deep-dark-grey: #1D1E21
$elegant-grey: #282828
$silver: #C0C0C0
$border-grey: #919193
$light-lavender-grey: #BDBCBF
$lavender-ash: #DDDCE0
$medium-black: rgba(0, 0, 0, 0.5)
$weak-black: rgba(0, 0, 0, 0.4)
$very-weak-black: rgba(0, 0, 0, 0.1)
$transparent-light-grey: rgba(239, 241, 246, 0.75)
$slightly-transparent-light-grey: rgba(136, 136, 136, 0.2)
$transparent-border-grey: rgba(145, 145, 147, 0.05)
$transparent-dark-grey: rgba(18, 20, 21, 0.8)
$light-blue-grey: rgba(239, 242, 246, 0.60)
$delicate-lavender: rgba(235, 235, 245, 0.30)
$gentle-transparent-blue: rgba(247, 250, 255, 0.12)
$transparent-green: rgba(97, 173, 0, 0.4)
$extra-light-gray: rgba(255, 255, 255, 0.1)
$soft-celestial: rgba(247, 250, 255, 0.18)
$semi-transparent-white: rgba(255, 255, 255, 0.6)
$emerald-green: #2CBB5D40
$amber-orange: #FFC01E40
$crimson-red: #EF474340
$weak-white: rgba(255, 255, 255, 0.13)
$double-weak-white: rgba(255, 255, 255, 0.063)
$charcoal: #303030
$slate-gray: #B3B3B3
$gray-smoke: #EBEBEB
$transparent-purple: rgba(160, 32, 240, 0.150)
$midnight-gray: #1A1A1A
$pastel-yellow: #EFF2F699
$transparent-yellow: #FFFFFF12
$vs-dark-theme: #1E1E1E
$pale-blue: rgba(240, 246, 252, 0.1)
$reddish-brown: rgb(165, 63, 59)
$dark-reddish-brown: rgb(117, 45, 42)
$maroon: #800000
$dark-maroon: #800000bd
$reddish-pink: rgb(241, 99, 95)
$vivid-red: rgb(239, 71, 67)
$reddish-orange: #ef47431f
