@import "bootstrap-variables"
@import "node_modules/bootstrap/scss/bootstrap"
@import "~ngx-toastr/toastr.css"
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Open+Sans:wght@300;400;600;700&display=swap')
@import 'src/styles/color-variables'

html, body, :root
    height: 100%

body
    background-color: $dark-grey

button
    all: unset
    cursor: pointer

a
    cursor: pointer

.invalid-feedback
    margin-top: 5px
