@import "node_modules/bootstrap/scss/bootstrap"
@import "~ngx-toastr/toastr.css"
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Open+Sans:wght@300;400;600;700&display=swap')

html, body, :root 
    height: 100%

button 
    all: unset
    cursor: pointer

a
    cursor: pointer
