<header class="nav-container position-fixed flex-column navbar fixed-top align-items-end justify-content-center"
    [ngClass]="{'scrolled': isScrolled || isNavShown}">
    <div class="logo-container">
        <img src="assets/images/logo/logo-sign-up.png" alt="LEETWARS">
    </div>
    <button class="nav-dropbtn" (click)="updateNavVisibility()" aria-label="menu">
        <fa-icon [icon]="['fas', 'bars']"></fa-icon>
    </button>
    <div class="nav-dropdown-container position-absolute" #navDropdownDiv>
        <nav class="nav-dropdown d-flex flex-column align-items-center">
            <a href="#reliable-platform">Cases</a>
            <a href="#fun-programming">Features</a>
            <a href="#how-it-works">Our Work</a>
            <a class="green-accent-link" routerLink="auth/login">Sign In</a>
        </nav>
    </div>
    <nav class="nav-main">
        <a href="#reliable-platform">Cases</a>
        <a href="#fun-programming">Features</a>
        <a href="#how-it-works">Our Work</a>
        <a class="green-accent-link" routerLink="auth/login">Sign In</a>
    </nav>
</header>
<main>
    <div class="unlimited-hero">
        <div class="unlimited-content-wrapper">
            <div class="unlimited-content flex-column text-center">
                <h1>Coding Mastery Forged in Challenges</h1>
                <p>Unveil a coding platform that's your gateway to mastery.
                    Through captivating challenges, you'll refine your programming skills,
                    while achieving each goal becomes a stepping stone toward coding excellence.
                </p>
                <a class="green-accent-link" routerLink="auth/register">GET STARTED</a>
            </div>
        </div>
    </div>

    <div id="reliable-platform" class="flex-column">
        <h2>
            <span>We get it. Reliable platforms</span>
            <br>
            <span class="span-accent">are hard to find</span>
        </h2>
        <div class="reliable-platform-container flex-wrap">
            <div class="reliable-platform-card">
                <img src="/assets/images/landing-page/reliable1.svg" alt="">
                <div class="reliable-platform-card-info">
                    <h3>Poor Quality</h3>
                    <p>You're tired of the guessing game to find the right challenge</p>
                </div>
            </div>
            <div class="reliable-platform-card">
                <img src="/assets/images/landing-page/reliable2.svg" alt="">
                <div class="reliable-platform-card-info">
                    <h3>Bad Communication</h3>
                    <p>You're fed up with having to explain yourself multiple times</p>
                </div>
            </div>
            <div class="reliable-platform-card">
                <img src="/assets/images/landing-page/reliable3.svg" alt="">
                <div class="reliable-platform-card-info">
                    <h3>Missed Deadlines</h3>
                    <p>You lose hope as deadlines are missed over and over again</p>
                </div>
            </div>
        </div>
    </div>

    <div id="fun-programming" class="d-flex flex-column align-items-center">
        <h2>
            <span>Programming does not have to be boring.</span>
            <br>
            <span class="span-accent">We make it fun.</span>
        </h2>
        <div class="fun-programming-card">
            <img src="/assets/images/landing-page/fun-programming1.svg" alt="" class="fun-programming-img mediaq-img">
            <div class="fun-programming-card-content">
                <img src="/assets/images/landing-page/cursor.svg" alt="">
                <div class="fun-programming-card-info">
                    <h3>
                        Breath-taking Challenges
                    </h3>
                    <p>
                        Embark on an exhilarating coding journey with our platform's challenging puzzles.
                        From complex algorithms to real-world simulations,
                        these mind-bending tasks will stretch your skills and leave you with a rewarding sense of
                        accomplishment.
                    </p>
                </div>
            </div>
            <img src="/assets/images/landing-page/fun-programming1.svg" alt=""
                class="fun-programming-img mediaq-none-img">
        </div>
        <div class="fun-programming-card">
            <img src="/assets/images/landing-page/fun-programming2.svg" alt="" class="fun-programming-img">
            <div class="fun-programming-card-content">
                <img src="/assets/images/landing-page/message.svg" alt="">
                <div class="fun-programming-card-info">
                    <h3>
                        Community Collaboration and Support
                    </h3>
                    <p>
                        Join a thriving developer community on our platform.
                        Engage in discussions, seek assistance, and share insights with fellow programmers,
                        fostering an environment of mutual growth and support.
                    </p>
                </div>
            </div>
        </div>
        <div class="fun-programming-card">
            <img src="/assets/images/landing-page/fun-programming3.svg" alt="" class="fun-programming-img mediaq-img">
            <div class="fun-programming-card-content">
                <img src="/assets/images/landing-page/clock.svg" alt="">
                <div class="fun-programming-card-info">
                    <h3>
                        Quick Growth Through Our Platform
                    </h3>
                    <p>
                        Achieve swift and substantial progress with our platform's targeted resources, interactive
                        challenges, and expert support.
                        Fast-track your coding journey and witness impressive growth in your skills and projects
                    </p>
                </div>
            </div>
            <img src="/assets/images/landing-page/fun-programming3.svg" alt=""
                class="fun-programming-img mediaq-none-img">
        </div>
    </div>

    <div id="how-it-works" class="d-flex flex-column align-items-center">
        <h2>
            <span>How it</span>
            <span class="span-accent"> works</span>
        </h2>
        <div class="how-it-works-container d-flex">
            <img src="/assets/images/landing-page/landing-page-stepper.svg" alt="">
            <div class="how-it-works-content d-flex flex-column">
                <div class="how-it-works-card">
                    <img src="/assets/images/landing-page/how-it-works1.svg" alt="">
                    <div class="how-it-works-card-info">
                        <h3>Choose Your Path to Mastery</h3>
                        <p>
                            Select from a range of carefully crafted learning paths tailored to your coding aspirations,
                            whether
                            it's web development, data science, or app creation
                        </p>
                    </div>
                </div>
                <div class="how-it-works-card">
                    <img src="/assets/images/landing-page/how-it-works2.svg" alt="">
                    <div class="how-it-works-card-info">
                        <h3>Master Coding Through Challenges</h3>
                        <p>
                            Dive into practical coding challenges that build your problem-solving skills and let you
                            apply
                            theoretical knowledge to real-world scenarios.
                        </p>
                    </div>
                </div>
                <div class="how-it-works-card">
                    <img src="/assets/images/landing-page/how-it-works3.svg" alt="">
                    <div class="how-it-works-card-info">
                        <h3>Achieve Your Coding Goals</h3>
                        <p>
                            Set specific coding goals and track your progress as you work through each module and
                            challenge.
                            Our platform's interactive tracking system ensures you stay motivated and focused on
                            reaching your
                            milestones, making your coding dreams a reality.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <a class="green-accent-link" routerLink="auth/register">GET STARTED</a>
    </div>
</main>

<footer class="d-flex flex-wrap align-items-start">
    <div class="get-started">
        <p>
            Get actionable tips on how to increase sales and
            conversions with design!
        </p>
        <a class="green-accent-link" routerLink="auth/register">GET STARTED</a>
    </div>
    <div class="footer-list-container">
        <h4>Services</h4>
        <ul class="footer-list">
            <li>
                <a href="">Our Platform</a>
            </li>
            <li>
                <a href="">Testimonials</a>
            </li>
            <li>
                <a href="">Our Work</a>
            </li>
            <li>
                <a href="">Pricing</a>
            </li>
            <li>
                <a href="">Schedule a Demo</a>
            </li>
        </ul>
    </div>
    <div class="footer-list-container">
        <h4>Company</h4>
        <ul class="footer-list">
            <li>
                <a href="">About Us</a>
            </li>
            <li>
                <a href="">Careers</a>
            </li>
            <li>
                <a href="">Case Studies</a>
            </li>
            <li>
                <a href="">License</a>
            </li>
            <li>
                <a href="">FAQs</a>
            </li>
        </ul>
    </div>
    <div class="footer-list-container">
        <h4>Resources</h4>
        <ul class="footer-list">
            <li>
                <a href="">Blog</a>
            </li>
            <li>
                <a href="">Website & App Cost Calculator</a>
            </li>
            <li>
                <a href="">Mockup Generator</a>
            </li>
            <li>
                <a href="">Illustration Packs</a>
            </li>
            <li>
                <a href="">Lifetime Access</a>
            </li>
        </ul>
    </div>
    <div class="footer-contacts-container">
        <h4>Contact</h4>
        <a href="mailto:email@example.com">email@example.com</a>
        <div class="footer-contact-links">
            <a href="" aria-label="instagram">
                <fa-icon [icon]="['fab', 'instagram']"></fa-icon>
            </a>
            <a href="" aria-label="tiktok">
                <fa-icon [icon]="['fab', 'tiktok']"></fa-icon>
            </a>
            <a href="" aria-label="youtube">
                <fa-icon [icon]="['fab', 'youtube']"></fa-icon>
            </a>
            <a href="" aria-label="facebook">
                <fa-icon [icon]="['fab', 'facebook-f']"></fa-icon>
            </a>
            <a href="" aria-label="pinterest">
                <fa-icon [icon]="['fab', 'pinterest-p']"></fa-icon>
            </a>
            <a href="" aria-label="twitter">
                <fa-icon [icon]="['fab', 'twitter']"></fa-icon>
            </a>
            <a href="" aria-label="linkedin">
                <fa-icon [icon]="['fab', 'linkedin']"></fa-icon>
            </a>
        </div>
    </div>
</footer>
