<div class="nav-div">
    <nav>
        <a href="">Cases</a>
        <a href="">Features</a>
        <a href="">Our Work</a>
        <a href="" class="green-accent-link">Sign In</a>
    </nav>
</div>
<div class="div-unlimited-hero-section">
    <div class="div-unlimited-container">
        <div class="div-unlimited">
            <h1>Coding Mastery Forged in Challenges</h1>
            <p>Unveil a coding platform that's your gateway to mastery. 
                Through captivating challenges, you'll refine your programming skills, 
                while achieving each goal becomes a stepping stone toward coding excellence.
            </p>
            <a href="" class="green-accent-link">Get Started</a>
        </div>
    </div>
</div>
<div id="reliable-platform">
    <h2>
        <span>We get it. Reliable platforms</span>
        <br>
        <span class="span-accent">are hard to find</span>
    </h2>
     <div class="div-reliable-platform">
        <div class="div-reliable-platform-card">
            <img src="/assets/images/landing-page/reliable1.svg" alt="">
            <div class="div-reliable-platform-card-info">
                <h3>Poor Quality</h3>
                <p>You're tired of the guessing game to find the right challenge</p>
            </div>
        </div>
        <div class="div-reliable-platform-card">
            <img src="/assets/images/landing-page/reliable2.svg" alt="">
            <div class="div-reliable-platform-card-info">
                <h3>Bad Communication</h3>
                <p>You're fed up with having to explain yourself multiple times</p>
            </div>
        </div>
        <div class="div-reliable-platform-card">
            <img src="/assets/images/landing-page/reliable3.svg" alt="">
            <div class="div-reliable-platform-card-info">
                <h3>Missed Deadlines</h3>
                <p>You lose hope as deadlines are missed over and over again</p>
            </div>
        </div>
    </div> 
</div>
<div id="fun-programming">
    <h2>
        <span>Programming does not have to be boring.</span>
        <br>
        <span class="span-accent">We make it fun.</span>
    </h2>
    <div class="div-fun-programming-card">
        <div class="fun-programming-card-content">
            <img src="/assets/images/landing-page/cursor.svg" alt="">
            <div class="fun-programming-card-text">
                <h3>
                    Breath-taking Challenges
                </h3>
                <p>
                    Embark on an exhilarating coding journey with our platform's challenging puzzles. 
                    From complex algorithms to real-world simulations, 
                    these mind-bending tasks will stretch your skills and leave you with a rewarding sense of accomplishment.
                </p>
            </div>
        </div>
        <img src="/assets/images/landing-page/fun-programming1.svg" alt="">
    </div>
    <div class="div-fun-programming-card">
        <img src="/assets/images/landing-page/fun-programming2.svg" alt="">
        <div class="fun-programming-card-content">
            <img src="/assets/images/landing-page/message.svg" alt="">
            <div class="fun-programming-card-text">
                <h3>
                    Community Collaboration and Support
                </h3>
                <p>
                    Join a thriving developer community on our platform. 
                    Engage in discussions, seek assistance, and share insights with fellow programmers, 
                    fostering an environment of mutual growth and support.
                </p>
            </div>
        </div>
    </div>
    <div class="div-fun-programming-card">
        <div class="fun-programming-card-content">
            <img src="/assets/images/landing-page/clock.svg" alt="">
            <div class="fun-programming-card-text">
                <h3>
                    Quick Growth Through Our Platform
                </h3>
                <p>
                    Achieve swift and substantial progress with our platform's targeted resources, interactive challenges, and expert support. 
                    Fast-track your coding journey and witness impressive growth in your skills and projects
                </p>
            </div>
        </div>
        <img src="/assets/images/landing-page/fun-programming3.svg" alt="">
    </div>
</div>
<div id="how-it-works">
    <h2>
        <span>How it</span>
        <span class="span-accent"> works</span>
    </h2>
    <div class="div-how-it-works">
        <img src="/assets/images/landing-page/landing-page-stepper.svg" alt="">
        <div class="div-how-it-works-cards">
            <div class="how-it-works-card">
                <img src="/assets/images/landing-page/how-it-works1.svg" alt="">
                <div class="how-it-works-card-content">
                    <h3>Choose Your Path to Mastery</h3>
                    <p>
                        Select from a range of carefully crafted learning paths tailored to your coding aspirations, whether 
                        it's web development, data science, or app creation
                    </p>
                </div>
            </div>
            <div class="how-it-works-card">
                <img src="/assets/images/landing-page/how-it-works2.svg" alt="">
                <div class="how-it-works-card-content">
                    <h3>Master Coding Through Challenges</h3>
                    <p>
                        Dive into practical coding challenges that build your problem-solving skills and let you apply 
                        theoretical knowledge to real-world scenarios.
                    </p>
                </div>
            </div>
            <div class="how-it-works-card">
                <img src="/assets/images/landing-page/how-it-works3.svg" alt="">
                <div class="how-it-works-card-content">
                    <h3>Achieve Your Coding Goals</h3>
                    <p>
                        Set specific coding goals and track your progress as you work through each module and challenge. 
                        Our platform's interactive tracking system ensures you stay motivated and focused on reaching your 
                        milestones, making your coding dreams a reality.
                    </p>
                </div>

            </div>
        </div>
    </div>
</div>
<footer>
    <div class="footer-get-started">
        <p>
            Get actionable tips on how to increase sales and
            conversions with design!
        </p>
        <a href="" class="green-accent-link">Get Started</a>
    </div>
    <div class="div-footer-list">
        <h4>Services</h4>
        <ul class="footer-list">
            <li>
                <a href="">Our Platform</a>
            </li>
            <li>
                <a href="">Testimonials</a>
            </li>
            <li>
                <a href="">Our Work</a>
            </li>
            <li>
                <a href="">Pricing</a>
            </li>
            <li>
                <a href="">Schedule a Demo</a>
            </li>
        </ul>
    </div>
    <div class="div-footer-list">
        <h4>Company</h4>
        <ul class="footer-list">
            <li>
                <a href="">About Us</a>
            </li>
            <li>
                <a href="">Careers</a>
            </li>
            <li>
                <a href="">Case Studies</a>
            </li>
            <li>
                <a href="">License</a>
            </li>
            <li>
                <a href="">FAQs</a>
            </li>
        </ul>
    </div>
    <div class="div-footer-list">
        <h4>Company</h4>
        <ul class="footer-list">
            <li>
                <a href="">Blog</a>
            </li>
            <li>
                <a href="">Website & App Cost Calculator</a>
            </li>
            <li>
                <a href="">Mockup Generator</a>
            </li>
            <li>
                <a href="">Illustration Packs</a>
            </li>
            <li>
                <a href="">Lifetime Access</a>
            </li>
        </ul>
    </div>
    <div class="div-footer-contact-links">
        <h4>Contact</h4>
        <a href="">support@pixeltrue.com</a>
        <div class="footer-contact-links">
        </div>
    </div>
</footer>
