<div class="modal-header">
    <h4 class="modal-title">Select challenge</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <fa-icon [icon]="'close'" [size]="'lg'"></fa-icon>
    </button>
</div>
<div class="modal-body">
    <p class="modal-body-text">Choose programming language and level of the challenge</p>
    <div class="d-flex flex-column gap-3">
        <app-dropdown-select
            [items]="languagesNames"
            [selectedItem]="languagesNames[0]"
            (selectedItemsChanged)="onLanguageChanged($event)"></app-dropdown-select>
        <app-dropdown-select
            [items]="levelsNames"
            [selectedItem]="levelsNames[0]"
            (selectedItemsChanged)="onLevelChanged($event)"></app-dropdown-select>
    </div>
</div>
<div class="modal-footer">
    <div class="row">
        <div class="col">
            <button type="button" class="btn m-2" (click)="confirmCodeFightRequest()">Confirm</button>
        </div>
    </div>
</div>
