@import "color-variables"

.main-content-wrp
    padding: 20px 20px 30px

.container-fluid
    padding: 0
    max-width: 916px
    margin: 0 auto

.new-challenge
    max-width: 916px
    margin-bottom: 16px
    text-align: center
    overflow: hidden
    & button
        border-radius: 10px
        float: right
        padding: 10px 18px
        color: $white
        background-color: $green
        &:hover
            background-color: $dark-green
