<div class="main-info d-flex flex-column">
    <div class="description d-flex flex-column">
        <div class="title-row d-flex align-items-center position-relative" >
            <span class="level">{{ challenge.levelName }} rank</span>
            <span class="title text-wrap" routerLink="/challenges/{{challenge.id}}">{{ challenge.title }}</span>
            <fa-icon
                *ngIf="canEdit"
                class="edit-icon"
                [icon]="['far', 'pen-to-square']"
                routerLink="/challenges/edit/{{challenge.id}}"></fa-icon>
            <fa-icon
                class="star-icon"
                [icon]="challenge.isStarry ? ['fas', 'star'] : ['far', 'star']"
                [size]="'2xl'"
                (click)="isChallengeUpdated && starChange()"></fa-icon>
        </div>
        <div class="info-row d-flex">
            <div class="d-flex align-items-center info-item">
                <fa-icon [icon]="['far', 'star']" size="2xs"></fa-icon>
                <span class="icon icon-border">{{ challenge.starsAmount }}</span>
            </div>
            <div class="d-flex align-items-center ml-6px info-item">
                <fa-icon [icon]="'chart-simple'" size="2xs"></fa-icon>
                <span class="icon icon-border">{{ challengePositiveFeedbacksPercent }}% positive feedback</span>
            </div>
            <div class="d-flex align-items-center ml-6px info-item">
                <fa-icon [icon]="['far', 'user']" size="2xs"></fa-icon>
                <span class="icon">
                    <!-- TODO: Add author link -->
                    created <a class="author" href="#">{{ challenge.authorName }}</a>
                </span>
            </div>
        </div>
    </div>
    <div class="languages d-flex flex-wrap gap-2">
        <div *ngFor="let language of challenge.languages" class="language-block d-flex align-items-center">
            <img [src]="getLanguageIconUrl(language.name)" class="language-logo" alt="language logo" />
            <span class="language-name">{{ language.name }}</span>
        </div>
    </div>
</div>

<div class="tags d-flex flex-wrap gap-2">
    <div *ngFor="let tag of challenge.tags" class="tag-block d-flex">
        <span>{{ tag.name }}</span>
    </div>
</div>
