.level-card
  width: 214px
  height: 36px
  
  &:not(:first-child)
    height: 52px
    padding-top: 16px

.progress-bar
  height: 8px
  color: #2CBB5D40
  background-color: #2CBB5D40
  border-radius: 10px
  margin-top: 8px
  overflow: hidden

.progress-info
  display: flex
  white-space: nowrap
  height: 20px
  font-size: 11px
  

.progress-info p
  color: grey
  width: 88px
  height: 16px
  padding-top: 7px
  text-align: end
  

// .progress-info p:nth-child(1)
//   width: 53px
//   text-align: start

// .progress-info p:nth-child(2)
//   width: 73px
//   text-align: start
//   color: rgba(79, 79, 79, 0.486)

//   &::first-letter
//     font-weight: solid
//     color: white
//     font-size: 16px

.level
  width: 53px
  height: 16px
  font-size: 10px
  padding-top: 7px
  

.number
  width: 73px
  height: 20px 
  span:first-child
    font-weight: solid
    color: white
    font-size: 16px



  

  
.progress-info p:nth-child(3)
  width: 88px
  text-align: start

.progress-info p:first-child, .progress-info p:last-child
  padding-top: 5px

// ::ng-deep .progress-bar
//     background-color: #FFC01E40
//     width: 100%
  
// ::ng-deep .progress 
//     background-color: black
  