<div class="component-container">
    <div class="chart-header d-flex align-items-center justify-content-between">
        <div class="d-flex align-items-center gap-3">
            <div class="primary-indicator d-flex align-items-center gap-1">
                <span class="primary-indicator-data">{{totalSubmissions}}</span>
                submissions in last year
            </div>
            <img src="/assets/images/info.svg" alt="info">
        </div>
        <div class="d-flex align-items-center justify-content-between gap-3">
            <div class="common-indicator d-flex align-items-center gap-1">
                Total active days:
                <span class="common-indicator-data">{{totalActiveDays}}</span>
            </div>
            <div class="common-indicator d-flex align-items-center gap-1">
                Max streak:
                <span class="common-indicator-data">{{maxStreak}}</span>
            </div>
        </div>
    </div>
    <div class="chart-container scrollable">
        <ngx-charts-heat-map
            [min]="-1"
            [max]="3"
            [view]="chartSize"
            [scheme]="chartColorScheme"
            [results]="chartData"
            [legend]="false"
            [xAxis]="true"
            [yAxis]="false"
            [showXAxisLabel]="false"
            [showYAxisLabel]="false"
            [xAxisTickFormatting]="xAxisTickFormatting"
            [rotateXAxisTicks]="false"
            innerPadding="20%"
            [tooltipDisabled]="true"
            [maxXAxisTickLength]="16"
            [maxYAxisTickLength]="0"
        >
        </ngx-charts-heat-map>
    </div>
</div>
