<div class="log-in-body">
    <div class="logo-part">
        <div class="circle"></div>
        <div class="logo">LOGO</div>
    </div>
    <div class="log-in-part">
        <div class="form-container">
            <H4 class="sign-in-label">Sign in</H4>
            <button class="third-party github">Sign in with GitHub</button>
            <button class="third-party google">Sign in with Google</button>
            <H5 class="or-label">or</H5>

            <form class="logInForm" [formGroup]="logInForm">
                <app-custom-input [InputType]="'email'" [Identifier]="'email'" [Width]="'100%'" [InputLabel]="'Email'"
                    [InputPlaceholder]="'Enter your email'"
                    (InputValueChange)="logInForm.controls['email'].setValue($event)">
                </app-custom-input>
                <app-custom-input [InputType]="'password'" [Identifier]="'password'" [Width]="'100%'"
                    [InputLabel]="'Password:'" [InputPlaceholder]="'&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;'"
                    (InputValueChange)="logInForm.controls['password'].setValue($event)">
                </app-custom-input>
                <div class="forget-password">
                    <a href="someUrl" class="forget-password-link">Forget password?</a>
                </div>
                <button class="submit-sign-in" [disabled]="!logInForm.valid" (click)="signIn()">Sign In</button>
            </form>
        </div>
        <div class="no-account">
            No account?
            <a class="sign-up-link" routerLink="/auth/register">Sign up</a>
        </div>
    </div>
</div>