@import 'challenge-creation-code-editor'
@import 'color-variables'
@import 'tab'

.component-container.maximized
    position: absolute
    top: 0
    left: 0
    right: 0
    padding: 20px
    background-color: $elegant-grey
    height: 100vh

.language-info
    font-size: 14px
    line-height: 21px
    padding: 2px 9px 2px 4px
    gap: 10px
    border-radius: 4px
    background-color: $elegant-grey
    width: fit-content
    position: relative

.language-tooltiptext
    font-size: 13px
    visibility: hidden
    background-color: $dark-grey
    color: $white-grey
    text-align: center
    border-radius: 4px
    padding: 5px 0
    position: absolute
    z-index: 1
    width: 120px
    top: 110%
    left: 50%
    margin-left: -60px

.language-info:hover .language-tooltiptext
  visibility: visible

.language-settings
    gap: 15px
    margin-bottom: 5px
    @media screen and (max-width: $small-mobile)
        flex-direction: column

.editor
    margin-top: 10px

.actions
    justify-content: space-between

.maximize-btn
    padding: 0 5px
    cursor: pointer

.tab-help
    width: 46px
    font-size: 13px
    line-height: 40px
    padding: 0px 22.09px 0px 22.39px
    display: flex
    justify-content: center
    align-items: center
    gap: 5px
    margin-left: 20px
    color: $transient-grey

.tab-help fa-icon
    font-size: 12px
    color: $transient-grey
