<div class="editor-container">
    <div class="actions d-flex">
        <tabset>
            <tab *ngFor="let tab of tabs" [heading]="tab.type.toString()" [active]="tab.active"
                  (selectTab)="switchTab(tab)" [disabled]="tab.disabled" [customClass]="getTabClass(tab)">
            </tab>
        </tabset>
        <button class="maximize-btn" (click)="toggleMaximize()">
            <fa-icon [icon]="isMaximized ? ['fas', 'compress'] : ['fas', 'maximize']"></fa-icon>
        </button>
    </div>
    <div class="editor">
        <app-code-editor
            [language]="editorLanguage"
            [initSolution]="editorContent"
            (focusout)=editorFocusOut()
            (codeChanged)="onCodeChange($event)"></app-code-editor>
    </div>
</div>
