@import 'src/styles/color-variables'

.notifications-container
    position: absolute
    top: 50px
    right: -560px
    min-width: 300px
    max-width: 350px
    background-color: $dark-grey
    color: $white
    border-radius: 5px
    padding: 3px
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5)
    overflow-y: auto
    max-height: 80vh

.notification
  margin: 3px
  padding: 5px
  background-color: $deep-dark-grey
  border-radius: 3px
  word-wrap: break-word
  overflow: hidden
  max-height: 100px

@media screen and (max-width: 1600px)
    .notifications-container
        top: 70px
        right: 50%
        transform: translate(50%, -50%)

.friend-request-container
    display: flex
    flex-direction: column
    align-items: center
    padding: 10px
    border-radius: 4px
    background-color: $dark-grey
    margin: 10px 0

.friend-request-message
    font-size: 16px
    margin-bottom: 10px

.friend-request-buttons
    display: flex
    gap: 10px

.friend-request-accept-button
    padding: 5px 10px
    background-color: $green
    color: $white
    border: none
    border-radius: 4px
    cursor: pointer

.friend-request-decline-button
    padding: 5px 10px
    background-color: $light-red
    color: $white
    border: none
    border-radius: 4px
    cursor: pointer
