<div class="notifications-container">
    <div *ngIf="!notifications.length">You do not have notifications</div>
    <div *ngFor="let notification of notifications" class="notification">
        <div *ngIf="notification.typeNotification === typeNotification.NewChallenge">
            <p>
                A new challenge
                <a routerLink="/challenges/{{ notification.challenge.id }}"> {{ notification.challenge.title }}</a>
            </p>
        </div>
        <div *ngIf="notification.typeNotification === typeNotification.LikeChallenge">
            <p>
                User {{ notification.sender.userName }} liked your challenge
                <a routerLink="/challenges/{{ notification.challenge.id }}">{{ notification.challenge.title }}</a>
            </p>
        </div>
        <div *ngIf="notification.typeNotification === typeNotification.FriendRequest" class="friend-request-container">
            <p class="friend-request-message">{{ notification.message }}</p>
            <div class="friend-request-buttons">
                <button (click)="acceptFriendship(notification)" class="friend-request-accept-button">Yes</button>
                <button (click)="declineFriendship(notification)" class="friend-request-decline-button">No</button>
            </div>
        </div>
        <div *ngIf="notification.typeNotification === typeNotification.CodeFight">
            <p>{{ notification.message }}</p>
            <button (click)="onYes(notification)">Yes</button>
            <button>No</button>
        </div>
    </div>
</div>