<div class="notification" *ngFor="let notification of notifications.slice().reverse(); trackBy: trackByFn" [ngClass]="{'unread': this.isUnread, 'read': !this.isUnread }" [@fadeIn]>
    <div *ngIf="notification.typeNotification === typeNotification.NewChallenge" class="notification-text">
        <p>
            A new challenge
            <a routerLink="/challenges/{{ notification.challenge.id }}"> {{ notification.challenge.title }}</a>
        </p>
    </div>
    <div *ngIf="notification.typeNotification === typeNotification.LikeChallenge" class="notification-text">
        <img
        [src]="notification.sender.imagePath ? notification.sender.imagePath : '/assets/images/default-profile-img.jpg'"
        alt="User Logo"
        class="sender-img" />
        <p>
            User {{ notification.sender.userName }} liked your challenge
            <a routerLink="/challenges/{{ notification.challenge.id }}">{{ notification.challenge.title }}</a>
        </p>
    </div>
    <div *ngIf="notification.typeNotification === typeNotification.CodeFightRequestStart">
        <p>{{ notification.message }}</p>
        <button (click)="onCodeFightStart(notification)">Yes</button>
        <button (click)="onCodeFightRefuse(notification)">No</button>
    </div>
</div>
