<div class="solution">
    <div class="solution-body">
        <div class="languages-container">
            <div class="label">
                <div class="label-text">Languages:</div>
                <fa-icon [icon]="'circle-info'"></fa-icon>
            </div>
            <div class="drop-down-container">
                <select class="form-control" id="languageSelect">
                    <option value="option1">
                        C#
                    </option>
                    <option value="JS">JS</option>
                  </select>
            </div>
        </div>
        <div class="general-container">
            <div class="tabs-container">
                <button class="tab">Complete solution</button>
                <button class="tab">Initial solution</button>
                <button class="tab">Preloaded</button>
                <button class="tab-help"><fa-icon [icon]="'circle-question'"></fa-icon>Help</button>


            </div>
            <div class="editor-container">
                
            </div>

        </div>
    </div>

</div>