<!-- Steps of progress -->
<div class="content-wrapper">
    <div>
        <h2 class="header">Name and describe your question</h2>
        <p class="tip">It's good to provide examples which will help users understand easily.</p>
    </div>

    <div class="categories-list d-flex flex-column gap-2">
        <p class="question-header">Category *</p>
        <div class="d-flex gap-2">
            <div class="category category-active d-flex flex-column align-items-center justify-content-center gap-2">
                <img
                    class="category-icon"
                    src="/assets/images/categories-icons/bookmark-icon.png"
                    alt="bookmark-icon" />
                <span class="category-text">Fundamentals</span>
            </div>
            <div class="category d-flex flex-column align-items-center justify-content-center gap-2">
                <img class="category-icon" src="/assets/images/categories-icons/abasus-icon.png" alt="abasus-icon" />
                <span class="category-text">Algorithms</span>
            </div>
            <div class="category d-flex flex-column align-items-center justify-content-center gap-2">
                <img class="category-icon" src="/assets/images/categories-icons/bug-icon.png" alt="bug-icon" />
                <span class="category-text">Bug Fixes</span>
            </div>
            <div class="category d-flex flex-column align-items-center justify-content-center gap-2">
                <img class="category-icon" src="/assets/images/categories-icons/cone-icon.png" alt="cone-icon" />
                <span class="category-text">Refactoring</span>
            </div>
            <div class="category d-flex flex-column align-items-center justify-content-center gap-2">
                <img class="category-icon" src="/assets/images/categories-icons/rubik-icon.png" alt="rubik-icon" />
                <span class="category-text">Puzzles</span>
            </div>
        </div>
    </div>
    <div class="input-wrapper mt-12px d-flex flex-column gap-2">
        <p class="question-header">Name *</p>
        <app-custom-input
            [Identifier]="'kata-name'"
            [Height]="'48px'"
            [Width]="'100%'"
            [Margin]="'0'"
            [InputPlaceholder]="'Give your kata a name'"></app-custom-input>
    </div>
    <div class="tabs-list mt-12px d-flex">
        <div class="tab">
            <span>Description</span>
        </div>
        <div class="tab d-flex gap-1">
            <fa-icon [icon]="'eye'"></fa-icon>
            <span>Preview</span>
        </div>
        <div class="tab d-flex gap-1">
            <fa-icon [icon]="'circle-question'"></fa-icon>
            <span>Help</span>
        </div>
    </div>
    <div class="mt-12px">
        <!-- Markdown editor -->
    </div>
</div>
