<!-- Steps of progress -->
<div class="content-wrapper">
    <div>
        <h2 class="header">Name and describe your question</h2>
        <p class="tip">It's good to provide examples which will help users understand easily.</p>
    </div>

    <div class="categories-list">
        <div class="category">
            <img src="/assets/images/categories-icons/bookmark-icon.png" alt="bookmark-icon" />
            <span>Fundamentals</span>
        </div>
        <div class="category">
            <img src="/assets/images/categories-icons/abasus-icon.png" alt="abasus-icon" />
            <span>Algorithms</span>
        </div>
        <div class="category">
            <img src="/assets/images/categories-icons/bug-icon.png" alt="bug-icon" />
            <span>Bug Fixes</span>
        </div>
        <div class="category">
            <img src="/assets/images/categories-icons/cone-icon.png" alt="cone-icon" />
            <span>Refactoring</span>
        </div>
        <div class="category">
            <img src="/assets/images/categories-icons/rubik-icon.png" alt="rubik-icon" />
            <span>Puzzles</span>
        </div>
    </div>
</div>
