@import 'src/styles/color-variables'

:host
  font-family: Inter
  color: $white

.content-wrapper
  padding: 10px 35px

.header
  font-size: 26px
  opacity: 0.65

.tip
  font-size: 16px
  color: $light-grey

.categories-list
  margin-top: 30px
  color: $transient-grey

.question-header
  color: $satured-grey

.category
  background-color: $weak-black
  height: 80px
  width: 100px
  cursor: pointer

  &-active, &:hover
    background-color: $weak-white

  &-icon
    height: 24px
    width: 24px
  &-text
    font-size: 12px

.tabs-list
  margin-top: 12px
  max-width: 876px

