<div class="content-wrapper">
    <div>
        <h2 class="header">Name and describe your question</h2>
        <p class="tip">It's good to provide examples which will help users understand easily.</p>
    </div>

    <div class="categories d-flex flex-column gap-2">
        <p class="question-header">Category *</p>
        <div class="categories-list">
            <div
                class="category"
                [class.category-active]="category === CategoryType.Fundamentals"
                (click)="onCategoryChange(CategoryType.Fundamentals)">
                <img
                    class="category-icon"
                    src="/assets/images/categories-icons/bookmark-icon.png"
                    alt="bookmark-icon" />
                <span class="category-text">Fundamentals</span>
            </div>
            <div
                class="category"
                [class.category-active]="category === CategoryType.Algorithms"
                (click)="onCategoryChange(CategoryType.Algorithms)">
                <img class="category-icon" src="/assets/images/categories-icons/abasus-icon.png" alt="abasus-icon" />
                <span class="category-text">Algorithms</span>
            </div>
            <div
                class="category"
                [class.category-active]="category === CategoryType.BugFixes"
                (click)="onCategoryChange(CategoryType.BugFixes)">
                <img class="category-icon" src="/assets/images/categories-icons/bug-icon.png" alt="bug-icon" />
                <span class="category-text">Bug Fixes</span>
            </div>
            <div
                class="category"
                [class.category-active]="category === CategoryType.Refactoring"
                (click)="onCategoryChange(CategoryType.Refactoring)">
                <img class="category-icon" src="/assets/images/categories-icons/cone-icon.png" alt="cone-icon" />
                <span class="category-text">Refactoring</span>
            </div>
            <div
                class="category"
                [class.category-active]="category === CategoryType.Puzzles"
                (click)="onCategoryChange(CategoryType.Puzzles)">
                <img class="category-icon" src="/assets/images/categories-icons/rubik-icon.png" alt="rubik-icon" />
                <span class="category-text">Puzzles</span>
            </div>
        </div>
    </div>

    <div class="d-flex gap-3">
        <div class="input-column">
            <app-dropdown-select
                [title]="'Level *'"
                [items]="allLevelsNames"
                [selectedItem]="selectedLevelName"
                (selectedItemsChanged)="onLevelChange($event)"
                (focusout)="inputForm.controls.level.markAsTouched()"
                [class.input-error]="inputForm.controls.level.touched && inputForm.controls.level.invalid"
                class="d-block mt-3"></app-dropdown-select>
            <div class="validation-error-message" *ngIf="inputForm.controls.level.touched && inputForm.controls.level.invalid">
                {{ getErrorMessage('level') }}
            </div>
        </div>
        <div class="input-column">
            <app-dropdown-select
                [isMultiSelection]="true"
                [title]="'Tags *'"
                [items]="allTagsNames"
                [selectedItems]="selectedTagsNames"
                (selectedItemsChanged)="onTagsChange($event)"
                (focusout)="inputForm.controls.tags.markAsTouched()"
                [class.input-error]="inputForm.controls.tags.touched && inputForm.controls.tags.invalid"
                class="d-block mt-3"></app-dropdown-select>
            <div class="validation-error-message" *ngIf="inputForm.controls.tags.touched && inputForm.controls.tags.invalid">
                {{ getErrorMessage('tags') }}
            </div>
        </div>
    </div>

    <div class="input-wrapper mt-12px d-flex flex-column gap-1">
        <p class="question-header">Name *</p>
        <app-custom-input
            [Identifier]="'kata-name'"
            [Height]="customInputHeight"
            [Width]="customInputWidth"
            [InputValue]="name"
            (InputValueChange)="onNameChange($event)"
            (focusout)="inputForm.controls.name.markAsTouched()"
            [class.input-error]="inputForm.controls.name.touched && inputForm.controls.name.invalid"
            [InputPlaceholder]="'Give your kata a name'"></app-custom-input>
    </div>
    <div class="validation-error-message" *ngIf="inputForm.controls.name.touched && inputForm.controls.name.invalid">
        {{ getErrorMessage('name') }}
    </div>
    <div class="tabs-list mt-12px d-flex flex-wrap">
        <div class="tab" [class.tab-active]="selectedTab === TabType.Description" (click)="editMarkDown()">
            <span>Description</span>
        </div>
        <div class="tab d-flex" [class.tab-active]="selectedTab === TabType.Preview" (click)="previewMarkDown()">
            <fa-icon [icon]="'eye'"></fa-icon>
            <span>Preview</span>
        </div>
        <div class="tab d-flex" [class.tab-active]="selectedTab === TabType.Help" (click)="submitQuestion()">
            <fa-icon [icon]="'circle-question'"></fa-icon>
            <span>Help</span>
        </div>
    </div>
    <div class="validation-error-message" *ngIf="inputForm.controls.description.touched && inputForm.controls.description.invalid">
        {{ getErrorMessage('description') }}
    </div>
    <div class="mt-12px">
        <angular-markdown-editor
            [textareaId]="'markdown-editor'"
            [name]="'markdownText'"
            [(ngModel)]="description"
            (focusout)="inputForm.controls.description.markAsTouched()"
            [class.input-error]="inputForm.controls.description.touched && inputForm.controls.description.invalid"
            [options]="editorOptions">
        </angular-markdown-editor>
        <markdown></markdown>
    </div>
</div>
