@import 'color-variables'

:host
    display: block
    position: relative
    overflow: hidden
    margin: 0 0 6px
    padding: 10px 10px 10px 10px
    width: 300px
    border-radius: 3px 3px 3px 3px
    color: $white
    pointer-events: all
    cursor: pointer
