<div class="page-wrp">
    <div class="profile-main-info-wrapper">

        <div class="profile-main-info-header info-container">
            <div class="user-info-container">
                <div class="user-avatar-container">
                    <img src="../../../../assets/default-profile-img.jpg" alt="User avatar" class="user-avatar">
                </div>
                <div class="user-info">
                    <p class="username">TatiHutii</p>
                    <p class="user-rank"><span>Rank</span>~5,000,000</p>
                </div>
            </div>
            <button class="edit-profile-btn">Edit Profile</button>
        </div>

        <div class="profile-main-info-content">

            <div class="community-stats-container info-container">
                <p class="content-section-name">Community Stats</p>
                <ul class="community-stats-list">
                    <li class="community-stats-list-item">
                        <div class="views community-stats-list-item-container">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <p class="list-item-main-text">Views<span>0</span></p>
                        </div>
                        <p class="last-week-stats">Last week<span>0</span></p>
                    </li>
                    <li class="community-stats-list-item">
                        <div class="solution community-stats-list-item-container">
                            <fa-icon [icon]="'square-check'"></fa-icon>
                            <p class="list-item-main-text">Solution<span>0</span></p>
                        </div>
                        <p class="last-week-stats">Last week<span>0</span></p>
                    </li>
                    <li class="community-stats-list-item">
                        <div class="discuss community-stats-list-item-container">
                            <fa-icon [icon]="'comments'"></fa-icon>
                            <p class="list-item-main-text">Discuss<span>0</span></p>
                        </div>
                        <p class="last-week-stats">Last week<span>0</span></p>
                    </li>
                    <li class="community-stats-list-item">
                        <div class="reputation community-stats-list-item-container">
                            <fa-icon [icon]="'star'"></fa-icon>
                            <p class="list-item-main-text">Reputation<span>0</span></p>
                        </div>
                        <p class="last-week-stats">Last week<span>0</span></p>
                    </li>
                </ul>
            </div>

            <div class="languages-container info-container">
                <p class="content-section-name">Languages</p>
                <p class="not-enough-data">Not enough data</p>
            </div>

            <div class="skills-container info-container">
                <p class="content-section-name">Skills</p>
                <ul class="skills-list">
                    <li class="skills-list-item">
                        <div class="skills-list-item-container">
                            <p class="skills-list-item-text advanced">Advanced</p>
                            <p class="not-enough-data">Not enough data</p>
                        </div>
                    </li>
                    <li class="skills-list-item">
                        <div class="skills-list-item-container">
                            <p class="skills-list-item-text intermediate">Intermediate</p>
                            <p class="not-enough-data">Not enough data</p>
                        </div>
                    </li>
                    <li class="skills-list-item">
                        <div class="skills-list-item-container">
                            <p class="skills-list-item-text fundamental">Fundamental</p>
                            <p class="not-enough-data">Not enough data</p>
                        </div>
                    </li>
                </ul>
            </div>

        </div>

    </div>
</div>