<div class="profile-main-info-wrapper">

    <div class="profile-main-info-header">
        <div class="user-avatar-container">
            <img src="" alt="User avatar" class="user-avatar">
        </div>
        <div class="user-info">
            <p class="username">TatiHutii</p>
            <p class="user-rank"><span>Rank</span>~5,000,000</p>
        </div>
        <button class="edit-profile-btn">Edit Profile</button>
    </div>

    <div class="profile-main-info-content">

        <div class="community-stats-container">
            <p class="content-section-name">Community Stats</p>
            <ul class="community-stats-list">
                <li class="community-stats-list-item">
                    <div class="views">
                        <fa-icon [icon]="'eye'"></fa-icon>
                        <p class="list-item-main-text">Views<span>0</span></p>
                    </div>
                    <p class="last-week-stats">0</p>
                </li>
                <li class="community-stats-list-item">
                    <div class="solution">
                        <fa-icon [icon]="'square-check'"></fa-icon>
                        <p class="list-item-main-text">Solution<span>0</span></p>
                    </div>
                    <p class="last-week-stats">0</p>
                </li>
                <li class="community-stats-list-item">
                    <div class="discuss">
                        <fa-icon [icon]="'comments'"></fa-icon>
                        <p class="list-item-main-text">Discuss<span>0</span></p>
                    </div>
                    <p class="last-week-stats">0</p>
                </li>
                <li class="community-stats-list-item">
                    <div class="reputation">
                        <fa-icon [icon]="'star'"></fa-icon>
                        <p class="list-item-main-text">Reputation<span>0</span></p>
                    </div>
                    <p class="last-week-stats">0</p>
                </li>
            </ul>
        </div>

        <div class="languages-container">
            <p class="content-section-name">Languages</p>
            <p class="not-enough-data">Not enough data</p>
        </div>

        <div class="skills-container">
            <p class="content-section-name">Skills</p>
            <ul class="skills-list">
                <li class="skills-list-item">Advanced</li>
                <li class="skills-list-item">Intermediate</li>
                <li class="skills-list-item">Fundamental</li>
            </ul>
        </div>

    </div>

</div>