<div class="profile-main-info-wrapper d-flex flex-column">

    <div class="profile-main-info-header info-container">
        <div class="user-info-container d-flex flex-row">
            <div class="user-avatar-container">
                <img src="assets/images/default-profile-img.jpg" alt="User avatar" class="user-avatar">
            </div>
            <div class="user-info d-flex flex-column">
                <p class="username">{{user.userName}}</p>
                <p class="user-rank"><span>Rank</span>{{user.totalScore}}</p>
            </div>
        </div>
        <button class="edit-profile-btn">Edit Profile</button>
    </div>

    <div class="profile-main-info-content">

        <div class="community-stats-container info-container">
            <p class="content-section-name">Community Stats</p>
            <ul class="community-stats-list d-flex flex-column">
                <li class="community-stats-list-item d-flex flex-column">
                    <div class="views community-stats-list-item-container d-flex flex-row">
                        <fa-icon [icon]="'eye'"></fa-icon>
                        <p class="list-item-main-text">Views<span>{{communityViews}}</span></p>
                    </div>
                    <p class="last-week-stats">Last week<span>{{communityLastWeekViews}}</span></p>
                </li>
                <li class="community-stats-list-item d-flex flex-column">
                    <div class="solution community-stats-list-item-container d-flex flex-row">
                        <fa-icon [icon]="'square-check'"></fa-icon>
                        <p class="list-item-main-text">Solution<span>{{user.solutions?.length}}</span></p>
                    </div>
                    <p class="last-week-stats">Last week<span>{{communityLastWeekSolution}}</span></p>
                </li>
                <li class="community-stats-list-item d-flex flex-column">
                    <div class="discuss community-stats-list-item-container d-flex flex-row">
                        <fa-icon [icon]="'comments'"></fa-icon>
                        <p class="list-item-main-text">Discuss<span>{{communityDiscuss}}</span></p>
                    </div>
                    <p class="last-week-stats">Last week<span>{{communityLastWeekDiscuss}}</span></p>
                </li>
                <li class="community-stats-list-item d-flex flex-column">
                    <div class="reputation community-stats-list-item-container d-flex flex-row">
                        <fa-icon [icon]="'star'"></fa-icon>
                        <p class="list-item-main-text">Reputation<span>{{communityReputation}}</span></p>
                    </div>
                    <p class="last-week-stats">Last week<span>{{communityLastWeekReputation}}</span></p>
                </li>
            </ul>
        </div>

        <div class="languages-container info-container">
            <p class="content-section-name">Languages</p>
            <p class="not-enough-data" *ngFor="let language of user.preferredLanguages">{{language.name}}</p>
        </div>

        <div class="skills-container info-container">
            <p class="content-section-name">Skills</p>
            <ul class="skills-list d-flex flex-column">
                <li class="skills-list-item">
                    <div class="skills-list-item-container d-flex flex-column">
                        <p class="skills-list-item-text advanced">Advanced
                        </p>
                        <ng-container *ngIf="!user.languageWithLevels; then noData; else hasData"></ng-container>
                        <ng-template #noData>
                            <p class="not-enough-data">Not enough data</p>
                        </ng-template>
                        <ng-template #hasData>
                            <ng-template *ngFor="let item of user.languageWithLevels">
                                <p *ngIf="item.level === LanguageLevel.FirstSteps" class="not-enough-data">{{item}}</p>
                            </ng-template>
                        </ng-template>
                    </div>
                </li>
                <li class="skills-list-item">
                    <div class="skills-list-item-container d-flex flex-column">
                        <p class="skills-list-item-text intermediate">Intermediate</p>
                        <p class="not-enough-data">Not enough data</p>
                    </div>
                </li>
                <li class="skills-list-item">
                    <div class="skills-list-item-container d-flex flex-column">
                        <p class="skills-list-item-text fundamental">Fundamental</p>
                        <p class="not-enough-data">Not enough data</p>
                    </div>
                </li>
            </ul>
        </div>

    </div>

</div>