<div class="modal-header">
    <h4 class="modal-title">Hi there!</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
</div>
<div class="modal-body">
    <p>Hello, Boi!</p>
</div>
<div class="modal-footer">
    <div class="row">
        <div class="col" *ngFor="let but of buttons">
            <ng-container *ngIf="isButtonVisible">
                <button type="button" class="btn btn-outline-dark m-1" (click)="but.handler()">{{but.text}}</button>
            </ng-container>
        </div>
    </div>
</div>