<div class="page-container vh-100">
    <as-split [direction]="splitDirection" [gutterSize]="8">
        <as-split-area [size]="50" [minSize]="splitLeftMinSize">
            <div class="problem-info h-100">
                <ul ngbNav #nav="ngbNav" [(activeId)]="activeTab" class="nav-tabs">
                    <li [ngbNavItem]="'Description'" [class.selectedTab]="isSelected('Description')">
                        <button ngbNavLink (click)="selectTab('Description')">Description</button>
                        <ng-template ngbNavContent>
                            <p class="challenge-title">{{ challenge.id }}. {{ challenge.title }}</p>
                            <markdown [data]="challenge.instructions"></markdown>
                        </ng-template>
                    </li>

                    <li [ngbNavItem]="'Submissions'" [class.selectedTab]="isSelected('Submissions')">
                        <button ngbNavLink (click)="selectTab('Submissions')">Submissions</button>
                        <ng-template ngbNavContent>Submissions here</ng-template>
                    </li>
                </ul>
                <div class="content" [ngbNavOutlet]="nav"></div>
            </div>
        </as-split-area>

        <as-split-area [size]="50" [minSize]="splitRightMinSize">
            <div class="editor h-100">
                <div class="header">
                    <div class="language-selection">
                        <fa-icon [icon]="'info'" size="sm"></fa-icon>
                        <app-dropdown-select
                            [isMultiSelection]="false"
                            [items]="languages"
                            [selectedItem]="selectedLanguage"
                            (SelectedItemsChanged)="onSelectedLanguageChanged($event)"></app-dropdown-select>
                    </div>
                    <div class="vertical-divider"></div>
                    <button>
                        <span>Auto</span>
                    </button>
                </div>
                <ngx-monaco-editor
                    class="my-code-editor"
                    [options]="editorOptions"
                    [(ngModel)]="initialSolution"></ngx-monaco-editor>
            </div>
        </as-split-area>
    </as-split>
</div>
