<div ngbDropdown class="dropdown d-inline-flex" [autoClose]="true">
    <div class="button-wrapper d-flex flex-column d-flex flex-grow-1">
        <button class="btn d-flex" id="dropdownMenuButton" ngbDropdownToggle>
            <div *ngIf="selectedItem" class="float-start d-flex">
                <img *ngIf="selectedItem.icon" [src]="selectedItem.icon" class="language-logo" alt="language logo" />
                <p>{{ selectedItem.content }}</p>
            </div>
            <span class="circle-icon">
                <fa-icon [icon]="['fas', 'chevron-down']" size="2xs"></fa-icon>
            </span>
        </button>
    </div>

    <div class="w-100 dropdown-menu" ngbDropdownMenu aria-labelledby="dropdownMenuButton">
        <ng-container>
            <a ngbDropdownItem (click)="selectItem(item)" *ngFor="let item of items"
                class="d-inline-flex dropdown-menu-link">
                <fa-icon [icon]="'check'" size="xs"
                    [ngStyle]="{ visibility: selectedItem === item ? 'visible' : 'hidden' }"></fa-icon>
                <span class="link-text">{{ item.content }}</span>
            </a>
        </ng-container>
    </div>
</div>