<div class="page-wraper h-100">
    <div class="header-logo">
        <img src="/assets/images/logo/logo.png" />
    </div>
    <h1 class="header">You want to reset password?</h1>
    <form class="resetPasswordForm" [formGroup]="resetPasswordForm">
        <ng-container *ngIf="!isSubmitted; else submitted">
            <div class="mb-2 form-group">
                <p class="label">Enter your user account's email address and we will send you a password reset link.</p>
                <app-custom-input
                    [InputType]="'email'"
                    [Identifier]="'Enter you'"
                    [Width]="'100%'"
                    [InputPlaceholder]="'Enter your email'"
                    formControlName="email"
                    (InputValueChange)="resetPasswordForm.controls['email'].setValue($event)">
                </app-custom-input>
            </div>
            <div class="actions">
                <button class="submit-reset accept" [disabled]="!resetPasswordForm.valid" (click)="resetPassword()">
                    Yes
                </button>
                <button class="submit-reset reject" (click)="returnToSignIn()">No</button>
            </div>
        </ng-container>
    </form>

    <ng-template #submitted>
        <p class="label">
            Check your email for a link to reset your password. If it doesn’t appear within a few minutes, check your
            spam folder.
        </p>
        <button class="submit-reset return-button" (click)="returnToSignIn()">Return to sign in</button>
    </ng-template>
</div>
