<div class="suggested-body">
    <div class="filters">
        <h5>Suggested Challenge</h5>
        <div class="dropdowns-container d-flex flex-column">
            <app-dropdown-select
                [items]="languagesNames"
                [selectedItem]="languagesNames[0]"
                [selectText]="'Choose Language...'"
                (selectedItemsChanged)="onLanguageChanged($event)"></app-dropdown-select>
            <app-dropdown-select
                [items]="suggestionTypesNames"
                [selectedItem]="suggestionTypesNames[0]"
                [selectText]="'Choose Today\'s Focus...'"
                [itemsIcons]="suggestionIcons"
                (selectedItemsChanged)="onSuggestionTypeChanged($event)"></app-dropdown-select>
        </div>
        <div class="button-group d-flex">
            <button class="suggested-button skip" (click)="getChallenge()">
                Skip
            </button>
            <button class="suggested-button train">
                Train
            </button>
        </div>
    </div>

    <div class="description d-flex justify-content-center align-items-center text-center text-white text-opacity-50"
        *ngIf="!challenge">
        <div>
            <h4>No suggestions</h4>
            <p>Please select other variants</p>
        </div>
    </div>
    <div class="description d-flex flex-column" *ngIf="challenge">
        <div class="difficulty-and-title d-flex">
            <div class="difficulty-tag d-flex">
                {{ challenge.levelName }}
            </div>
            <div class="task-title">
                {{ challenge.title }}
            </div>
        </div>
        <div class="description-text">
            {{ challenge.instructions }}
        </div>
        <ul class="tags d-flex" (wheel)="onMouseWheel($event)">
            <li *ngFor="let tag of challenge.tags" class="tag-item">
                {{ tag.name }}
            </li>
        </ul>
    </div>
</div>
